/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: none;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* End CSS Reset */

/* Custom Styles */
:root {
  /* Colors */
  --white: #fff;
  --dark-gray-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --gray-blue: #9eafc2;
  --light-gray-blue: #ecf2f8;

  /* Fonts Styles */
  --heavy-font: 700;
  --medium-font: 500;
  --font-size-1: 1rem;
  --font-size-2: 0.8125rem;
  --font-size-3: 1.25rem;
  --line-height-1: 153.846%;
  --line-height-2: 150%;
  --line-height-3: 140%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-gray-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px 24px 81px 24px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
}

.img-container {
  height: 11rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.25rem 2rem;
}

.preview-text {
  color: var(--dark-gray-blue);
  font-size: var(--font-size-1);
  font-weight: var(--heavy-font);
  line-height: var(--line-height-2);
  letter-spacing: 0.0125rem;
  margin-bottom: 0.75rem;
}

.article-intro-text {
  color: var(--desaturated-dark-blue);
  font-size: var(--font-size-2);
  font-weight: var(--medium-font);
  line-height: var(--line-height-1);
  letter-spacing: 0.00763rem;
  margin-bottom: 2rem;
}

.author-info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  display: flex;
}

.author-img-container {
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}

.author-img {
  width: 2.5rem;
  height: 2.5rem;
}

.author-name {
  color: var(--dark-gray-blue);
  font-size: var(--font-size-2);
  font-weight: var(--heavy-font);
  line-height: var(--line-height-1);
  letter-spacing: 0.00763rem;
}

.article-date {
  color: var(--gray-blue);
  font-size: var(--font-size-2);
  font-weight: var(--medium-font);
  line-height: var(--line-height-1);
  letter-spacing: 0.00763rem;
}

.share-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-blue);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 15.5rem;
  padding: 1rem 0;
  top: 300px;
  left: 850px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-size: var(--font-size-2);
  font-weight: var(--medium-font);
  line-height: var(--line-height-1);
  border-radius: 0.25rem;
  filter: drop-shadow(0px 10px 10px rgba(201, 213, 225, 0.50));
}

.tooltip p {
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}

footer {
  color: var(--gray-blue);
  font-size: var(--font-size-2);
  font-weight: var(--medium-font);
  line-height: var(--line-height-1);
  letter-spacing: 0.00763rem;
  padding: 1.25rem 2rem;
  text-align: center;
}

@media (min-width: 64rem) {
  .card-container {
    width: 45.625rem;
    height: 17.5rem;
    grid-template-columns: 1fr 1.5fr;
  }

  .img-container {
    height: 100%;
  }

  .card-img {
    height: 100%;
  }

  .info-container {
    padding: 2rem 2.5rem 2rem 2.5rem;
  }

  .preview-text {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: 0.01563rem;
  }
}
